{{yield}}

<h4>Проверить номер документа</h4>
<form {{action "validateNumber" doc_input on="submit"}}>
  {{input
    value=doc_input
    type="text"
    name="doc_input"
    maxlength="12"
    placeholder="Номер документа"
  }}
  <button type="submit" name="document">Проверить</button>
</form>

<div class="val_result">
  {{val_result}}
</div>