body{
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

h1, h2{
    text-align: center;
}

div.priority{
    width: 32%;
    height: 200px;
    display: inline-block;
    border-radius: 5px;
}

div.priority.high{
    background: #FFB7B8;
}

div.priority.mid{
    background: #F6DFAB;
}

div.priority.low{
    background: #C3E0E3;
}

div.discipline{
    background: rgb(211, 237, 248);
    margin:5px;
    padding:5px;
    border-radius: 5px;
    display: inline-block;
}

div.flex{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.links{
    background-color: #B0CFE5;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    padding: 12px;
    text-align: center;
}

.links a{
    color: #0F212E;
    text-decoration: none;
    padding: 10px;
}

.links a:hover{
    color: white;
}

table{
    text-align: left;
    width:380px;
    box-shadow: 0 0 2px 0;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.error{
  padding: 5px 0 0 0;
}

button, input{
    padding: 5px;
}
