{{outlet}}

<br>
{{input
  value=number
  type="text"
  name="doc_input"
  maxlength="12"
  placeholder="Номер документа"
}}

<button {{action "getDocument" number}}
  type="submit"
  name="document"
>
  Проверить
</button>

{{#doc-unit doc=currentObj}}

{{/doc-unit}}

{{#doc-form
  validateNumber=(action "getNumber")
  doc_input=docNumber
}}

{{/doc-form}}

{{#each model as |document|}}
  {{#doc-unit doc=document}}

  {{/doc-unit}}
{{/each}}