{{outlet}}

{{#doc-unit doc=doc_unit_result}}

{{/doc-unit}}

{{#doc-form
  valid_action=(action "getDocument")
}}

{{/doc-form}}

{{error_text}}

<br><button {{action "showAll"}}>Показать все</button>

{{#if show_all}}
  {{#each model as |document|}}
    {{#doc-unit doc=document}}

    {{/doc-unit}}
  {{/each}}
{{/if}}