{{outlet}}

{{#doc-unit doc=doc_unit_result}}

{{/doc-unit}}

{{#doc-form
  valid_action=(action "getDocument")
  title="Проверить номер документа"
  but_text="Проверить"
}}

{{/doc-form}}

<div class="error">
  {{error_text}}
</div>

<br>
<button {{action "showAllTrigger"}}>
  {{#if show_all}}
    Скрыть
  {{else}}
    Показать все
  {{/if}}
</button>

{{#if show_all}}
  {{#each model as |document|}}
    {{#doc-unit doc=document}}

    {{/doc-unit}}
  {{/each}}
{{/if}}